.hide {
  display: none;
}

.formdiv {
  float: right;
}

body {
  background-color: skyblue;
  background-size: cover;
}

.menu{
  border: 2px solid cyan;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px;
  top: 100px;
  right: -400px;
  width: 30%;
  background-image: url('../src/new.jpg');
  background-repeat: no-repeat;
}

.logo {
  color: yellow;
  font-weight: 700;
  font-size: 20px;
}

.instruction {
  font-size: 20px;
  color: red;
  font-weight: 700;
  cursor: pointer;
}

.pause {
  cursor: pointer;
}

.menu p {
  font-size: 20px;
  color: rgb(36, 4, 4);
  font-weight: 700;
  cursor: pointer;
}